################################################################################
# This .gitignore file was created by Andrew :)
################################################################################

# Build outputs
**/bin/
**/obj/

# User-specific files
*.user
*.DotSettings.user

# VS settings
.vs/

# HTTP files
*.http

# Consumer output
**/output.txt
